.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  z-index: 1000;
  overflow: scroll;
  &--cta {
    display: block;
  }
  &--banner {
    display: block;
  }
  .popup-form {
    margin: auto;
    top: calc(50% - 136px);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 380px;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 9999;
    animation: popupShowAnimation 1 0.3s linear;
    &--experts {
      top: calc(50% - 295px);
    }
    &--banner {
      background: linear-gradient(195deg, #1b1b1b 55%, #3f3f3f);
      color: white;
      padding: 80px;
      width: 50%;
      iframe {
        overflow: hidden;
        height: 93px !important;
      }
      .popup-form__close {
        font-size: 40px;
        line-height: 40px;
      }
      .banner {
        &-text {
          font-family: $regular, sans-serif;
          color: white;
          font-size: 40px;
          span {
            color: #4CAF83;
            text-transform: uppercase;
          }
          img {
            margin-left: 10px;
            width: 45px;
            vertical-align: baseline;
          }
        }
      }
    }
    &__notification {
      text-align: center;
      font-size: 16px;
      color: white;
      border: 1px solid $color-btn;
      padding: 5px 6px;
      background-color: $color-btn;
      border-radius: 5px;
      margin: 5px 0 -10px 0;
      animation: notifAnimation 0.3s 1 linear;
      h2 {
        margin-top: 10px;
      }
      &--error {
        background-color: #e53835;
      }
    }
    &__close {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(199, 29, 26);
      cursor: pointer;
      font-family: $regular, sans-serif;
      transition: color 0.3s ease-in-out;
      z-index: 2;
      &--cta {
        top: -2px;
        right: -3px;
      }
      &:hover {
        color: black;
      }
    }
    p {
      font-family: Arimo, sans-serif;
      font-size: 16px;
      text-align: center;
      margin: 0;
      color: black;
      text-transform: uppercase;
      font-weight: 600;
    }
    span {
      color: rgb(199, 29, 26);
    }
    textarea {
      height: 90px;
    }
    input[type="submit"] {
      display: block;
      width: 300px;
      margin: 0 auto 0 auto;
      text-align: center;
      padding: 14px 0;
      background-color: #f92626;
      border: 1px solid #f92626;
      &:focus{
        outline: none;
      }
    }
  }
  .form-cost{
    &__field{
      margin: 0 0 5px 0;
      &:focus{
        outline: none;
      }
    }
  }
}

@keyframes popupShowAnimation {
  0%{transform: scale(0)}
  80%{transform: scale(1.2)}
  100%{transform: scale(1)}
}

@keyframes notifAnimation {
  from{height: 0;}
  to{height: auto;}
}
/*
.form-blank {
  &__wrap {
    background:#fff;
    width: 400px;
    margin:auto;
    top: calc(50% - 306px);
  }
}
.popup-overlay .popup-form p {
  width: 400px;
  margin: auto;
  background: #fff;
  padding-top: 15px;
}
.popup-overlay .popup-form input[type="submit"] {
  width: 56%;
}*/
.house-price {
  text-align: justify;
  &__title {
    font-size: 14px;
    font-family: $bold;
    text-align: center;
    span {
      color: #f92626;
    }
  }
  &__info {
    text-transform: none!important;
    font-weight: 100!important;
    font-size: 14px!important;
    line-height: 1.2;
    span {
      font-family: $bold;
      color: #000!important;
    }
  }
  &__star {
    font-size: 10px!important;
    text-transform: none!important;
    font-family: $regular!important;
    font-weight: 100!important;
    padding: 10px 0 0 0;
    line-height: 1.4;
  }
  &__desc {
    text-transform: none!important;
  }
  &__list {
    li {
      list-style: none;
      background: url("/images/sk/check.png") no-repeat 0 4px;
      padding-left: 24px;
      padding-bottom: 10px;
      line-height: 1.2;
      font-size: 14px;
    }
  }
}