.button{
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 0;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px;
}